@font-face {
  font-family: "TerminusTTF";
  src: url("./terminus-ttf/TerminusTTF.ttf");
}

:root {
  --global-font-size: 15px;
  --global-line-height: 1.4em;
  --global-space: 10px;
  --font-stack: TerminusTTF, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --background-color: #271a14;
  --page-width: 60em;
  --font-color: #ffc353;
  --invert-font-color: #222225;
  --secondary-color: #d5a243;
  --tertiary-color: #d5a243;
  --primary-color: #ffc353;
  --error-color: #ff3c74;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #db9634;
  --code-bg-color: #3f3f44;
  --input-style: solid;
  --display-h1-decoration: none;
}

.ascii-art {
  font-size: 1rem;
  font-family: monospace;
  white-space: pre;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding-left: 15px;
  padding-right: 15px;
}

.progress-bar-filled,
.btn {
  box-shadow: 0 0 15px var(--font-color);
}

.btn {
  border: none;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
}
#welcome {
  font-size: 2rem;
}
#bio {
  width: 100%;
  margin-bottom: 2rem;
}

#timeline {
  margin-top: 2.5rem;
}

@media only screen and (min-device-width: 320px) {
  #welcome {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
  #welcome::before {
    padding: 0 0.3rem;
  }
  .ascii-art {
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
  }
  .main {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-shadow: 0 0 15px var(--font-color);
    font-size: 1rem;
    -webkit-font-smoothing: none;
    line-height: 1.2;
  }

  .content {
    margin: 0 auto;
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 0rem 0rem;
  }
}
@media only screen and (min-device-width: 480px) {
  #welcome {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
  #welcome::before {
    padding: 0 0.3rem;
  }
  .ascii-art {
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
  }
  .main {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 3rem;
    text-shadow: 0 0 15px var(--font-color);
    font-size: 1rem;
    -webkit-font-smoothing: none;
    line-height: 1.2;
  }

  .content {
    margin: 0 auto;
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 0rem 0rem;
  }
}

@media only screen and (min-device-width: 768px) {
  #welcome {
    font-size: 1.5rem;
    display: block;
  }
  #welcome::before {
    padding: 0 0;
  }
  .ascii-art {
    display: block;
    font-size: 0.8rem;
  }
  .main {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 3rem;
    text-shadow: 0 0 15px var(--font-color);
    font-size: 1.5rem;
    -webkit-font-smoothing: none;
    line-height: 1.2;
  }

  .content {
    margin: 0 auto;
    width: 40rem;
  }

  .buttons {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
  }
}

@media only screen and (min-width: 1281px) {
  #welcome {
    font-size: 2rem;
    display: block;
  }
  #welcome::before {
    padding: 0 0;
  }
  .ascii-art {
    display: block;
    font-size: 1rem;
  }
  .main {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 3rem;
    text-shadow: 0 0 15px var(--font-color);
    font-size: 1.5rem;
    -webkit-font-smoothing: none;
    line-height: 1.2;
  }

  .content {
    margin: 0 auto;
    width: 60rem;
  }
  .buttons {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 0rem 10rem;
  }
}
